* {
	font-family: 'Open Sans', sans-serif;
}

.row {
	border-top: thick #BF2333; 
	border-style: solid; 
	border-bottom: none; 
	border-right: none; 
	border-left: none; 
}

footer {
	-moz-box-shadow:0 8px 8px -5px #d1d1d1; 
    -webkit-box-shadow:0 8px 8px -5px #d1d1d1;
    box-shadow:0 8px 8px -5px #d1d1d1;
    height:60px;
    padding-top:7px;
    padding-bottom:30px;
    color:gray;
    font-size:18px;
    bottom:0px;
    position:fixed;
}

.footer-up {
    height: 32px;
    margin-left:30px;
}

.footer-inova {
    height: 32px;
    margin-left:30px;
}
.footer-spot{
    top:20px;
    margin-left:75px;
    padding-right:50px;
}

.footer-risk{
    height: 42px;
    margin-left:520px;
}


.grid-menu {
	text-transform:uppercase;
}

.grid-menu a {
	text-decoration:none;
	color:gray;
}

.row > div {
	font-size:18px;
	text-align:center;
	padding: 10px 0px 10px; 
	height: 62px;
}

.row > div:not(:first-child):not(:last-child) {
	padding-top: 19px;
	border-left: 1px solid #d1d1d1;
}

.row a#en {
	text-decoration:underline;
}

.row > div#language {
	background-color:#f2f2f2;
	font-size:14px;
	padding-top: 21.5px;
}


#main {

    -moz-box-shadow:    inset  0 -8px 8px -5px #d1d1d1, 
                        inset  0 8px 8px -5px #d1d1d1;
    -webkit-box-shadow: inset  0 -8px 8px -5px #d1d1d1, 
                        inset  0 8px 8px -5px #d1d1d1;
     box-shadow:        inset  0 -8px 8px -5px #d1d1d1, 
                        inset  0 8px 8px -5px #d1d1d1;
    padding-bottom:400px;
    background-color:#f2f2f2;
    padding-top:2%;
    
}

#search-input{
	text-decoration:none;
	border:2px solid #f2f2f2;
	border-top-right-radius:2em;
	border-top-left-radius:2em;
	border-bottom-right-radius:2em;
	border-bottom-left-radius:2em;
	background-color:#f2f2f2;
	width:80%;
	border:0px;
	padding:0px;
	height:100%;


}

#search-glass{
	height:17px;
	width:13px;
	
}
form #search{
	margin:0px;
	padding:0px;
}


/* |||||||||||||              ALERTA NÍVEL5               ||||||||||||||||||||||||||*/


.publication-alert.publ-risk5{
	background-color: #ED1C24;
	text-transform:uppercase;
	margin-left:4%;
	border: 0px solid #ED1C24;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	border-radius:35px;
	width:30%;
	text-align:center;
	margin-bottom:3%;
	padding-top:1%;
	
}


.publication-alert.publ-risk5 > .publ-risk{
	display:inline;
	position:relative;
	right:14%;
	
	
	
}
.publication-alert.publ-risk5 > .publ-type{
	color:white;
	font-weight:900;
	font-size:17px;
	display: inline;
	padding-bottom:2%;
}

.publication-alert.publ-risk5 > .publ-countr{
	color:white;
	font-weight:normal;
	display: inline;
	position:relative;
	left:12%;
	font-size:11px;

}
.publication-alert.publ-risk5 > .publ-title{
	color:white;
	font-weight:normal;
	font-size:22px;
}


.publication-alert.publ-risk5 hr{ /*COR DAS LINHAS*/
	width:90%;
	border-color:white;
}


.publ-risk5 .arrow_white{ /*SETA BRANCA PARA NÍVEL 5*/
	padding-bottom:5%;
	
}

.publ-risk5 .arrow_gray{ /*OCULTAR SETA CINZENTA PARA OS RESTANTES NÍVEIS*/
	padding-bottom:5%;
	display:none;
}

.publ-risk5 .ray-low{ /*OCULTAR RISCO BAIXO*/
	display:none;
}

.publ-risk5 .ray-medium{ /*OCULTAR RISCO MEDIO*/
	display:none;
}

.publication-alert .cross-plus{ /*OCULTAR RISCO MEDIO*/
	display:none;
}



/* |||||||||||||              ALERTA NÍVEL4               ||||||||||||||||||||||||||*/

.publication-alert.publ-risk4{
	background-color: white;
	text-transform:uppercase;
	margin-left:4%;
	border: 0px solid white;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	border-radius:35px;
	width:30%;
	text-align:center;
	margin-bottom:3%;
	padding-top:1%;
	
}


.publication-alert.publ-risk4 > .publ-risk{
	display:inline;
	position:relative;
	right:14%;
	
	
	
}
.publication-alert.publ-risk4 > .publ-type{
	color:#666666;
	font-weight:normal;
	font-size:17px;
	display: inline;
	padding-bottom:2%;
}

.publication-alert.publ-risk4 > .publ-countr{
	color:#666666;
	font-weight:normal;
	display: inline;
	position:relative;
	left:12%;
	font-size:11px;

}
.publication-alert.publ-risk4 > .publ-title{
	color:#666666;
	font-weight:normal;
	font-size:22px;
}


.publication-alert.publ-risk4 hr{ /*COR DAS LINHAS*/
	width:90%;
	border-color:#CCCCCC;
}


.publ-risk4 .arrow_white{ /*SETA BRANCA PARA NÍVEL 5*/
	padding-bottom:5%;
	display:none;
	
}

.publ-risk4 .arrow_gray{ /*OCULTAR SETA CINZENTA PARA OS RESTANTES NÍVEIS*/
	padding-bottom:5%;
	
}
.publ-risk4 .ray-high{
	display:none;
}

.publ-risk4 .ray-low{ /*OCULTAR RISCO BAIXO*/
	display:none;
}


.publication-alert .cross-plus{ /*OCULTAR RISCO MEDIO*/
	display:none;
}

/* |||||||||||||              ALERTA NÍVEL3               ||||||||||||||||||||||||||*/

.publication-alert.publ-risk3{
	background-color: white;
	text-transform:uppercase;
	margin-left:4%;
	border: 0px solid white;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	border-radius:35px;
	width:30%;
	text-align:center;
	margin-bottom:3%;
	padding-top:1%;
	
}


.publication-alert.publ-risk3 > .publ-risk{
	display:inline;
	position:relative;
	right:14%;
	
	
	
}
.publication-alert.publ-risk3 > .publ-type{
	color:#666666;
	font-weight:normal;
	font-size:17px;
	display: inline;
	padding-bottom:2%;
}

.publication-alert.publ-risk3 > .publ-countr{
	color:#666666;
	font-weight:normal;
	display: inline;
	position:relative;
	left:12%;
	font-size:11px;

}
.publication-alert.publ-risk3 > .publ-title{
	color:#666666;
	font-weight:normal;
	font-size:22px;
}


.publication-alert.publ-risk3 hr{ /*COR DAS LINHAS*/
	width:90%;
	border-color:#CCCCCC;
}


.publ-risk3 .arrow_white{ /*SETA BRANCA PARA NÍVEL 5*/
	padding-bottom:5%;
	display:none;
	
}

.publ-risk3 .arrow_gray{ /*OCULTAR SETA CINZENTA PARA OS RESTANTES NÍVEIS*/
	padding-bottom:5%;
	
}
.publ-risk3 .ray-high{ /*OCULTAR RISCO ALTO*/
	display:none;
}

.publ-risk3 .ray-low{ /*OCULTAR RISCO BAIXO*/
	display:none;
}


.publication-alert .cross-plus{ /*OCULTAR RISCO MEDIO*/
	display:none;
}


/* |||||||||||||              ALERTA NÍVEL2               ||||||||||||||||||||||||||*/

.publication-alert.publ-risk2{
	background-color: white;
	text-transform:uppercase;
	margin-left:4%;
	border: 0px solid white;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	border-radius:35px;
	width:30%;
	text-align:center;
	margin-bottom:3%;
	padding-top:1%;
	
}


.publication-alert.publ-risk2 > .publ-risk{
	display:inline;
	position:relative;
	right:14%;
	
	
	
}
.publication-alert.publ-risk2 > .publ-type{
	color:#666666;
	font-weight:normal;
	font-size:17px;
	display: inline;
	padding-bottom:2%;
}

.publication-alert.publ-risk2 > .publ-countr{
	color:#666666;
	font-weight:normal;
	display: inline;
	position:relative;
	left:12%;
	font-size:11px;

}
.publication-alert.publ-risk2 > .publ-title{
	color:#666666;
	font-weight:normal;
	font-size:22px;
}


.publication-alert.publ-risk2 hr{ /*COR DAS LINHAS*/
	width:90%;
	border-color:#CCCCCC;
}


.publ-risk2 .arrow_white{ /*SETA BRANCA PARA NÍVEL 5*/
	padding-bottom:5%;
	display:none;
	
}

.publ-risk2 .arrow_gray{ /*OCULTAR SETA CINZENTA PARA OS RESTANTES NÍVEIS*/
	padding-bottom:5%;
	
}
.publ-risk2 .ray-high{
	display:none;
}

.publ-risk2 .ray-medium{ /*OCULTAR RISCO MEDIO*/
	display:none;
}


.publication-alert .cross-plus{ /*OCULTAR CRUZ DE GUIDELINE*/
	display:none;
}


/* |||||||||||||              ALERTA NÍVEL1               ||||||||||||||||||||||||||*/

.publication-alert.publ-risk1{
	background-color: white;
	text-transform:uppercase;
	margin-left:4%;
	border: 0px solid white;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	border-radius:35px;
	width:30%;
	text-align:center;
	margin-bottom:3%;
	padding-top:1%;
	
}


.publication-alert.publ-risk1 > .publ-risk{
	display:inline;
	position:relative;
	right:14%;
	
	
	
}
.publication-alert.publ-risk1 > .publ-type{
	color:#666666;
	font-weight:normal;
	font-size:17px;
	display: inline;
	padding-bottom:2%;
}

.publication-alert.publ-risk1 > .publ-countr{
	color:#666666;
	font-weight:normal;
	display: inline;
	position:relative;
	left:12%;
	font-size:11px;

}
.publication-alert.publ-risk1 > .publ-title{
	color:#666666;
	font-weight:normal;
	font-size:22px;
}


.publication-alert.publ-risk1 hr{ /*COR DAS LINHAS*/
	width:90%;
	border-color:#CCCCCC;
}


.publ-risk1 .arrow_white{ /*SETA BRANCA PARA NÍVEL 5*/
	padding-bottom:5%;
	display:none;
	
}

.publ-risk1 .arrow_gray{ /*OCULTAR SETA CINZENTA PARA OS RESTANTES NÍVEIS*/
	padding-bottom:5%;
	
}
.publ-risk1 .ray-high{
	display:none;
}

.publ-risk1.ray-medium{ /*OCULTAR RISCO MEDIO*/
	display:none;
}


.publication-alert .cross-plus{ /*OCULTAR CRUZ DE GUIDELINE*/
	display:none;
}

/***************************\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*********************************/
/* |||||||||||||||||||||||         GUIDELINE NÍVEL 5               |||||||||||||||||||||||||||| */  


.publication-guideline.publ-risk5{
	background-color: white;
	text-transform:uppercase;
	margin-left:4%;
	border: 0px solid white;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	border-radius:35px;
	width:30%;
	text-align:center;
	margin-bottom:3%;
	padding-top:1%;
	
}


.publication-guideline.publ-risk5 > .publ-risk{
	display:inline;
	position:relative;
	right:28%;
	
	
	
}
.publication-guideline.publ-risk5 > .publ-type{
	color:#666666;
	font-weight:normal;
	font-size:17px;
	display: inline;
	padding-bottom:2%;
}

.publication-guideline.publ-risk5 > .publ-countr{
	color:#666666;
	font-weight:normal;
	display: inline;
	position:relative;
	left:12%;
	font-size:11px;

}
.publication-guideline.publ-risk5 > .publ-title{
	color:#666666;
	font-weight:normal;
	font-size:22px;
}


.publication-guideline.publ-risk5 hr{ /*COR DAS LINHAS*/
	width:90%;
	border-color:#CCCCCC;
}


.publication-guideline .arrow_white{ /*SETA BRANCA PARA NÍVEL 5*/
	padding-bottom:5%;
	display:none;
	
}

.publication-guideline .arrow_gray{ /*OCULTAR SETA CINZENTA PARA OS RESTANTES NÍVEIS*/
	padding-bottom:5%;
	
}
.publication-guideline .ray-high{ /*OCULTAR RISCO ALTO*/
	display:none;
}

.publication-guideline .ray-medium{ /*OCULTAR RISCO MEDIO*/
	display:none;
}

.publication-guideline .ray-low{ /*OCULTAR RISCO BAIXO*/
	display:none;
}

/* |||||||||||||||||||||||         GUIDELINE NÍVEL 4               |||||||||||||||||||||||||||| */  


.publication-guideline.publ-risk4{
	background-color: white;
	text-transform:uppercase;
	margin-left:4%;
	border: 0px solid white;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	border-radius:35px;
	width:30%;
	text-align:center;
	margin-bottom:3%;
	padding-top:1%;
	
}


.publication-guideline.publ-risk4 > .publ-risk{
	display:inline;
	position:relative;
	right:28%;
	
	
	
}
.publication-guideline.publ-risk4 > .publ-type{
	color:#666666;
	font-weight:normal;
	font-size:17px;
	display: inline;
	padding-bottom:2%;
}

.publication-guideline.publ-risk4 > .publ-countr{
	color:#666666;
	font-weight:normal;
	display: inline;
	position:relative;
	left:12%;
	font-size:11px;

}
.publication-guideline.publ-risk4 > .publ-title{
	color:#666666;
	font-weight:normal;
	font-size:22px;
}


.publication-guideline.publ-risk4 hr{ /*COR DAS LINHAS*/
	width:90%;
	border-color:#CCCCCC;
}


.publication-guideline .arrow_white{ /*SETA BRANCA PARA NÍVEL 5*/
	padding-bottom:5%;
	display:none;
	
}

.publication-guideline .arrow_gray{ /*OCULTAR SETA CINZENTA PARA OS RESTANTES NÍVEIS*/
	padding-bottom:5%;
	
}
.publication-guideline .ray-high{ /*OCULTAR RISCO ALTO*/
	display:none;
}

.publication-guideline .ray-medium{ /*OCULTAR RISCO MEDIO*/
	display:none;
}

.publication-guideline .ray-low{ /*OCULTAR RISCO BAIXO*/
	display:none;
}

/* |||||||||||||||||||||||         GUIDELINE NÍVEL 3               |||||||||||||||||||||||||||| */  


.publication-guideline.publ-risk3{
	background-color: white;
	text-transform:uppercase;
	margin-left:4%;
	border: 0px solid white;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	border-radius:35px;
	width:30%;
	text-align:center;
	margin-bottom:3%;
	padding-top:1%;
	
}


.publication-guideline.publ-risk3 > .publ-risk{
	display:inline;
	position:relative;
	right:28%;
	
	
	
}
.publication-guideline.publ-risk3 > .publ-type{
	color:#666666;
	font-weight:normal;
	font-size:17px;
	display: inline;
	padding-bottom:2%;
}

.publication-guideline.publ-risk3 > .publ-countr{
	color:#666666;
	font-weight:normal;
	display: inline;
	position:relative;
	left:12%;
	font-size:11px;

}
.publication-guideline.publ-risk3 > .publ-title{
	color:#666666;
	font-weight:normal;
	font-size:22px;
}


.publication-guideline.publ-risk3 hr{ /*COR DAS LINHAS*/
	width:90%;
	border-color:#CCCCCC;
}


.publication-guideline .arrow_white{ /*SETA BRANCA PARA NÍVEL 5*/
	padding-bottom:5%;
	display:none;
	
}

.publication-guideline .arrow_gray{ /*OCULTAR SETA CINZENTA PARA OS RESTANTES NÍVEIS*/
	padding-bottom:5%;
	
}
.publication-guideline .ray-high{ /*OCULTAR RISCO ALTO*/
	display:none;
}

.publication-guideline .ray-medium{ /*OCULTAR RISCO MEDIO*/
	display:none;
}

.publication-guideline .ray-low{ /*OCULTAR RISCO BAIXO*/
	display:none;
}


/* |||||||||||||||||||||||         GUIDELINE NÍVEL 2               |||||||||||||||||||||||||||| */  


.publication-guideline.publ-risk2{
	background-color: white;
	text-transform:uppercase;
	margin-left:4%;
	border: 0px solid white;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	border-radius:35px;
	width:30%;
	text-align:center;
	margin-bottom:3%;
	padding-top:1%;
	
}


.publication-guideline.publ-risk2 > .publ-risk{
	display:inline;
	position:relative;
	right:28%;
	
	
	
}
.publication-guideline.publ-risk2 > .publ-type{
	color:#666666;
	font-weight:normal;
	font-size:17px;
	display: inline;
	padding-bottom:2%;
}

.publication-guideline.publ-risk2 > .publ-countr{
	color:#666666;
	font-weight:normal;
	display: inline;
	position:relative;
	left:12%;
	font-size:11px;

}
.publication-guideline.publ-risk2 > .publ-title{
	color:#666666;
	font-weight:normal;
	font-size:22px;
}


.publication-guideline.publ-risk2 hr{ /*COR DAS LINHAS*/
	width:90%;
	border-color:#CCCCCC;
}


.publication-guideline .arrow_white{ /*SETA BRANCA PARA NÍVEL 5*/
	padding-bottom:5%;
	display:none;
	
}

.publication-guideline .arrow_gray{ /*OCULTAR SETA CINZENTA PARA OS RESTANTES NÍVEIS*/
	padding-bottom:5%;
	
}
.publication-guideline .ray-high{ /*OCULTAR RISCO ALTO*/
	display:none;
}

.publication-guideline .ray-medium{ /*OCULTAR RISCO MEDIO*/
	display:none;
}

.publication-guideline .ray-low{ /*OCULTAR RISCO BAIXO*/
	display:none;
}


/* |||||||||||||||||||||||         GUIDELINE NÍVEL 1               |||||||||||||||||||||||||||| */  


.publication-guideline.publ-risk1{
	background-color: white;
	text-transform:uppercase;
	border: 0px solid white;
	-webkit-border-radius:35px;
	-moz-border-radius:35px;
	border-radius:35px;
	width:30%;
	text-align:center;
	margin-bottom:3%;
	padding-top:1%;
	
}


.publication-guideline.publ-risk1 > .publ-risk{
	display:inline;
	position:relative;
	right:18%;
	
	
	
}
.publication-guideline.publ-risk1 > .publ-type{
	color:#666666;
	font-weight:normal;
	font-size:17px;
	display: inline;
	padding-bottom:2%;
}

.publication-guideline.publ-risk1 > .publ-countr{
	color:#666666;
	font-weight:normal;
	display: inline;
	position:relative;
	left:12%;
	font-size:11px;

}
.publication-guideline.publ-risk1 > .publ-title{
	color:#666666;
	font-weight:normal;
	font-size:22px;
}


.publication-guideline.publ-risk1 hr{ /*COR DAS LINHAS*/
	width:90%;
	border-color:#CCCCCC;
}


.publication-guideline .arrow_white{ /*SETA BRANCA PARA NÍVEL 5*/
	padding-bottom:5%;
	display:none;
	
}

.publication-guideline .arrow_gray{ /*OCULTAR SETA CINZENTA PARA OS RESTANTES NÍVEIS*/
	padding-bottom:5%;
	
}
.publication-guideline .ray-high{ /*OCULTAR RISCO ALTO*/
	display:none;
}

.publication-guideline .ray-medium{ /*OCULTAR RISCO MEDIO*/
	display:none;
}

.publication-guideline .ray-low{ /*OCULTAR RISCO BAIXO*/
	display:none;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

br {

	
	margin:1px 0;
	
}



/**********************
****** FILTERING ******
***********************/

.dropdown-menu>li {
	position:relative;
	cursor:pointer;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
	box-shadow:none;
}
.right-caret:after,.left-caret:after {
	content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}

.right-caret:after{	
	border-left: 5px solid #ffaf46;
}

.left-caret:after{
	border-right: 5px solid #ffaf46;
}